.product-suggestion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px;
    background-color: var(--color-primary);
}

.product-suggestion h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: var(--color-tertiary);
    text-shadow: 0 3px 0 black;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}

.product-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 250px;
    min-height: 350px;
    height: auto;
    background-color: var(--color-quaternary);
    border-radius: 20px;
    padding: 20px;
    transition: 0.2s ease all;
    color: black;
    border: 2px solid black;
    position: relative;
    top: 0;
    cursor: pointer;
}

.product-container div h6 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;  
}

.product-container div:hover {
    top: -6px; 
    box-shadow: 0 10px 0 1px black;
}
.product-box{
    max-height: fit-content;
}

.product-container div:hover h6{
    font-weight: 1500;
}

.product-container div p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.product-container div:hover p {
    color: var(--color-secondary);
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .product-suggestion {
        padding: 50px 30px;
    }
    
    .product-suggestion h2 {
        font-size: 2.2rem;
        width: 90%;
    }
    
    .product-container {
        width: 90%;
        gap: 30px;
    }
    
    .product-container div {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .product-suggestion {
        padding: 40px 20px;
        gap: 20px;
    }
    
    .product-suggestion h2 {
        font-size: 1.8rem;
        width: 100%;
    }
    
    .product-container {
        width: 100%;
        flex-direction: column;
        gap: 25px;
    }
    
    .product-container div {
        width: 90%;
        max-width: 200px;
        height: auto;
        padding: 15px;
    }
}