/* Footer Container */
.footer {
    background-color: #2C1A4A;
    color: antiquewhite; 
    padding: 24px;
    flex: 1,2;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  @media (min-width: 768px) {
    .footer-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .footer-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #F9C80E;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-list li {
    color: #CDB4DB; 
    margin-bottom: 4px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .footer-list li:hover {
    color: #F9C80E;
  }
  
  .newsletter {
    display: flex;
    color: antiquewhite;
  }
  
  .newsletter-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 0.9rem;
    color: antiquewhite;
    background-color: #ffa2a2;
  }
  ::placeholder {
    color: antiquewhite;
    opacity: 0.8; 
}

  .newsletter-button {
    background-color: #ffa2a2;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .newsletter-button:hover {
    background-color: #577590;
  }
  
  .footer-bottom {
    text-align: center;
    color: #CDB4DB; 
    font-size: 0.85rem;
    margin-top: 24px;
  }
  