.filters-container {
    display: grid;
    align-items: center; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 0 80px;
    background-color: var(--color-primary);
    position: relative;
    z-index: 1;
}

.filter-dropdown {
    flex: 1 1 160px;
    position: relative;
    margin-bottom: 10px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem;
    max-height: 300px;
    overflow-y: auto;
}
.filter-options::-webkit-scrollbar {
    width: 9px;
}

.filter-options::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 4px;
    border: 1px solid black;
}

.filter-options::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary); 
    border-radius: 4px;
    border: 1px solid var(--color-tertiary)
}
.filter-options input[type="checkbox"] {
    cursor: pointer;
    background-color: var(--color-tertiary);
    border: 2px solid var(--color-primary);
}

.filter-options label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

details {
    position: relative;
}

details[open] .filter-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-quaternary);
    border: 2px solid black;
    width: 100%;
    color: var(--color-primary);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.8);
    z-index: 2;
    border-radius: 0 0 8px 8px;
}
.price-input {
    width: 90px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: var(--color-quaternary);
}
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

details summary {
    cursor: pointer;
    background-color: var(--color-quaternary);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-primary);
}

details summary:hover {
    background-color: var(--color-secondary);
    color: white;
}

.filter-dropdown button {
    padding: 10px 15px;
    background-color: var(--color-tertiary); 
    border: none;
    border-radius: 5px;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
}

.filter-dropdown button:hover {
    background-color: var(--color-secondary); 
}

/* Mobile view */
@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
    }

    .filter-dropdown {
        width: 100%;
    }
}

